
hlmbackend:
  name: hlm-backend
  repository: aliakseiashukha/hlm-backend
  tag: 3.5.0
  port: 7878
  address: http://localhost:7878
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 1024Mi
    limits:
      cpu: 1000m
      memory: 2048Mi
  environment:
    key_selector_url: false
    collect_metrics: true
    find_elements_auto_healing: false
    hlm_log_level: debug
  screenshotsPvClaimName: "screenshots-pvc"
  logsPvClaimName: "hlm-backend-logs-pvc"

postgresql:
  installdep:
    enable: false
  endpoint:
    address: db-postgresql.default.svc.cluster.local
    port: 5432
    user: healenium_user
    dbName: healenium
    schema: healenium

imitator:
  name: hlm-selector-imitator
  repository: healenium/hlm-selector-imitator
  tag: 1.6
  port: 8000
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi

hlmproxy:
  enable: true
  name: hlm-proxy
  repository: aliakseiashukha/hlm-proxy
  tag: 2.2.0
  port: 8085
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 512Mi
    limits:
      cpu: 500m
      memory: 1024Mi
  environment:
    selenium_server_url: http://selenium-grid-selenium-hub.default.svc:4444/wd/hub
    hlm_log_level: debug
  healing:
    healenabled: true
    recoverytries: 1
    scorecap: .6
  logsPvClaimName: "hlm-proxy-logs-pvc"

hlmai:
  name: hlm-ai
  repository: aliakseiashukha/healenium-ai
  tag: 1.0.0
  port: 6565
  address: http://localhost:6565
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 100m
      memory: 384Mi
    limits:
      cpu: 200m
      memory: 512Mi
  logsPvClaimName: "hlm-ai-logs-pvc"

hlmui:
  name: hlm-ui-dashboard
  repository: aliakseiashukha/hlm-ui-dashboard
  tag: 1.0.0
  port: 5173
  address: http://localhost:5173
  pullPolicy: IfNotPresent
  resources:
    requests:
      cpu: 200m
      memory: 128Mi
    limits:
      cpu: 500m
      memory: 256Mi